
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body { min-width: 980px; max-width: 1600px;}

article, aside, details, figcaption, figure, footer, header, nav, section
{
    display: block;
}

audio, canvas, video
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    *float: none;
}

audio:not([controls])
{
    display: none;
}

a:-webkit-any-link
{
    cursor: auto;
}

*, ::after, ::before
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Clearfix */

.clear
{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0 !important;
    height: 0;
}

/* IE6 */

*:first-child+html .clearfix
{
    zoom: 1;
}

/* clearfix */

.clearfix:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix
{
    display: inline-block;
    zoom: 1;
    *display: inline;
    *float: none;
}

html[xmlns] .clearfix
{
    display: block;
}

* html .clearfix
{
    height: 1%;
    zoom: 1;
}

* html .clearfix
{
    zoom: 1;
}




html
{
    font-size: 100%;
    overflow-y: scroll;
    -ms-text-size-adjust: 100%;
}

::-moz-selection
{
    background: #72e8fd;
    color: #111;
    text-shadow: none;
}

::selection
{
    background: #72e8fd;
    color: #111;
    text-shadow: none;
}

figure
{
    margin: 10% 0;
}

figcaption
{
    text-align: center;
}

img
{
    border: 0;
    -ms-interpolation-mode: bicubic;
}

a:hover, a:active, a:focus
{
    outline: none;

}

* html #footer {
    position:absolute;
    top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

img {
    behavior: url(..js/PIE.htc);
} 
img, iframe, object, embed
{
    max-width: 100%;
    width: auto\9;
}

img, object, embed
{
    height: auto;
    margin: 0px auto 0px;
}

img
{
    vertical-align: bottom;
    max-width: 100%;
    position: relative;
    float: left;
}

img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"]
{
    height: auto;
    margin: 0;
    padding: 0;
}


/* - Images - */
.wp-caption.alignleft,
img.alignleft { margin: 0 20px 10px 0; }

.wp-caption.alignright,
img.alignright { margin: 0 0 10px 20px; }

.wp-caption.aligncenter,
img.aligncenter { margin-bottom: 20px; }

img.alignnone { display: block; margin: 20px 0 20px; }

img {
    max-width: none !important
}

.wrap{
    display:table;height:100%;
}
.top-sagarra, header
{
    overflow: hidden;
    display: block;
    text-align: center;
    position: fixed;
    _position:absolute; /*target IE6 only */
    position:absolute;
    z-index: 1200;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    background-color: #fff;
    height: 60px;
    max-height: 60px;
    color: #686868;
    border-bottom: 1px solid #ccc;
    -ms-box-shadow: 1px 1px 4px #bbb;
    background:yellow;
}

.sagarra-logo
{
    color: #505A53;
    text-transform: uppercase;
    margin: 5px;
    padding: 0;
    width:30%; 
    height:30px;
    min-width:150px; 
    float:left; 
    height: 100%;
    text-align:left;
}

.sagarra-logo h1
{
    font-size: 180%;
    padding: 0;
    margin: 0;
    display:inline;
    height: 60px;
    float: left;
    white-space: nowrap;
    overflow: visible;
    width:150px;
    letter-spacing: 1px;
    text-align:left;
}

.sagarra-logo h1 a, .sagarra-logo h1 a:active
{
    font-family: "Palatino" , "Times New Roman", Times, Georgia, serif;
    letter-spacing: 0.5px;
    font-size: 180%;
    color: #505A53;
    text-decoration: none;
    display: block;
    width: 219px;
    height: 60px;
    float: left;
    white-space: nowrap;
    overflow: visible;
    opacity: .66;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56)";
    filter: alpha(opacity=56);
}

.sagarra-logo h1 a:hover
{

    opacity: 1.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

div#single-sagarra
{
    margin-top: 60px !important;
    float:left;
    min-width: 470px;
    width: 100%;
    text-align: center;
    background: #F8F9F8;
    min-height: 100%;
    height:auto !important;
    height: 100%;
    padding: 0;
    content: "";
    overflow-x: hidden;
    position: relative;
    display: block;
    vertical-align: middle;
}

.main, #single-sagarra , #content-sagarra{
    display:block;
    width: 100% !important;
    min-height: 100%;
    height:auto !important;
    height: 100%;
}
#single-sagarra , #content-sagarra{
    padding:10px;
}
#single-sagarra #title-sagarra , #content-sagarra {
    display:block;
    float:left;
    margin:0;
}
#single-sagarra #content-sagarra{
    margin-left:10px;
}
#single-sagarra  #images-sagarra{
    width:650px;
    float:right;
    position: absolute;
    top: 0px;
    right: 0px;

}
.ieclearer {
    float:none;
    clear:both;
    height:0;
    padding:0;
    font-size: 2px;
    line-height:0;
}

div#aniversari
{
    padding:0;
    text-align: center;
    font: 0/0 a;
    text-indent: -999999.999px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    min-width: 460px;
    max-width:470px;
    width:auto;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    height: 60px;
    float: left;
    background-color: #fff;
    border: 0;
    overflow: hidden;
    background-image: url("http://static.rotulossagarra.com/images/100/cast.png");
    background-repeat: no-repeat;
    background-size: auto;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}



#project-sagarra p > a.more-link {
    font-family: "cartogothic_stdbold", Helvetica, Arial, sans-serif;
    font-size: 80%;
    color:#21759b;
    padding:4px 10px;
    text-decoration:none;
    text-transform:lowercase;
}


body #content-sagarra
{
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=90);
}
div#title-sagarra{
    float:left;
    width: 150px;
    height: 100% !important;
    height: auto;
}
#title-sagarra h1
{
    width:150px;
    display:block;
    float:left; 
    height: 100%;
    margin-top: 20px !important;
    margin-left: 10px;
    text-overflow: ellipsis;
    font-family: "cartogothic_stdbold", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 180%;
    border-bottom: 1px dotted #ededed;
    color: #505A53;
    display: block;
    text-align: left;
    opacity: .66;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56)";
    filter: alpha(opacity=56);
}
div#content-sagarra{
    float:left;
    margin-left:150px; 
    margin-right:-100%;

    height: 100% !important;
    height: auto;
}
div#images-sagarra{
    float:right;
    display:block;
    width: 60%;
    height: 100% !important;
    height: auto;
}

.gallery{

    width: 800px;
    height: 100%;
    margin:0 auto;
    padding:0;

}
.gallery dl dt img{
    float:left;
    margin: 10px;
}

.qts-lang-menu
{
    position: relative;
    float: left;
    display: block;
    width: 150px;
    float: right;
    height: 10px;
    margin: 10px 0 0 0;
    padding: 0;
    font-family: "cartogothic_stdbold", Helvetica, Arial, sans-serif;
    font-size: 80%;
}

ul.qts-lang-menu
{
    float: right;
    display: inline-block;
    display: -moz-inline-stack;
    zoom: 1;
    *display: inline;
    margin: 0;
    height: 20px;
    width: 200px;
    padding: 5px;
}

ul.qts-lang-menu li
{
    font-family: "cartogothic_stdbold", Helvetica, Arial, sans-serif;
    padding: 0 !important;
    list-style-type: none !important;
    display: inline-block;
    display: -moz-inline-stack;
    zoom: 1;
    *display: inline;
    color: #4e4e4e;
    text-transform: uppercase;
    font-size: 0.926em;
    font-weight: bold;
    float: left;
    width: 25px;
    position: relative;
    list-style-type: none;
    border-left: 1px solid #ccc;
}

ul.qts-lang-menu li:first-child
{
    border-left: none;
    float: left;
    width: 25px;
    position: relative;
    display: inline;
    margin-right: 5px;
    color: #4e4e4e;
}

ul.qts-lang-menu li:before
{
    padding: 0;
}

ul.qts-lang-menu li a,  ul.qts-lang-menu li a:visited
{
    display: inline-block;
    display: -moz-inline-stack;
    zoom: 1;
    *display: inline;
    border-left: none;
    font-size: 11px;
    width: 25px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    text-decoration: none !important;
    color: #626363;
    line-height: 14px;
    text-align: justify;

    transition: color .2s linear, padding .2s linear;
}

ul.qts-lang-menu li a:active
{
    color: #21759b;
    width: 25px;
    margin-left: 5px;
    font-weight: bold;
}

ul.qts-lang-menu li a:hover
{
    color: #626363;
}

* html ul.qts-lang-menu li a, * html ul.qts-lang-menu li a:visited
{
    width: 149px;
    w\idth: 138px;
}


.gallery-id2
{
    max-width: 70%;
    background: transparent;
}

#content
{
    width: 100%;
}

.gallery-id2  .gallery-row
{
    margin-bottom: 2px;
    max-width: 100%;
}


.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail
{
    max-width: 100%;
    height: auto;
}

.gallery-id2 .gallery-row
{
    margin-bottom: 2px;
    max-width: 100%;
}

.gallery-item a
{
    border: 2px solid #fff;
    cursor: pointer;
    height: 240px;
    float: left;
    margin: 5px;
    position: relative;
    overflow: hidden;
    width: 360px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.gallery-item dt dl a img
{
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.gallery-item dt dl a img:hover
{
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.gallery-caption
{
    position: absolute;
    opacity: 0.6;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

.gallery caption:hover img:nth-child(1)
{
    opacity: 0;
}
div.tiled-gallery-caption
{
    /* Captions */
    background: #4b4b4b !important;
    background: rgba( 0,0,0,0.8 ) !important;
    color: #fafafa !important;
    font-size: 16px !important;
    font-weight: 400;
    overflow: hidden;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    text-indent: 10px;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

footer[role="contentinfo"]
{
    clear: both;
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    font-size: 13px;
    font-size: 0.775rem;
    color: #ededed;
    background-color: #fafafa;
    font-weight: normal;
    padding: 0;
    position: fixed;
    _position:absolute; /*target IE6 only */
    z-index: 1300;
    bottom: 0;
    left: 0;
}
#footer-sagarra
{
    width: 100%;
    position: fixed;
    _position:absolute; /*target IE6 only */
    bottom: 0px;
    z-index: 5;
    border-top: 1px solid #ccc;
    clear: both;
    width: 100%;
    padding: 0 25px;
    display: block;
    height: 50px;
    bottom:0;
    left:0;
}
